<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Hermes - Job Recovery')}}</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script>
        var welcome_msg = "{{ _('welcome_msg')}}";
        var str_you = "{{ _('You')}}";
        var str_hermes = "{{ _('Hermes')}}";
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">{{ _('Hermes - Job Recovery')}}</a>
    </nav>

    <div class="container py-5">
        <button id="modeSwitcher">Switch to Dark Mode</button>

        <!-- Comforting Message -->
        <p class="text-center highlight-message">
            {{ _('We_understand')}}
        </p>

        <div id="chatbox">
            <!-- Chat messages will be added here -->
        </div>

        <form id="chatForm" class="form-inline">
            <input id="userInput" type="text" autocomplete="off" class="form-control"
                placeholder="{{ _('Type your message here...')}}" />
            <!-- Disable send while waiting for response-->
            <input type="submit" value="{{ _('Send')}}" class="btn btn-primary ml-2" />
        </form>

        <!-- Useful Links -->
        <div class="mt-5">
            <h2 class="mb-3">{{ _('links_title') }}</h2>
            <ul>
                <li><a href="{{ _('link1_url') }}" target="_blank">{{ _('link1_text') }}</a></li>
                <li><a href="{{ _('link2_url') }}" target="_blank">{{ _('link2_text') }}</a></li>
                <li><a href="{{ _('link3_url') }}" target="_blank">{{ _('link3_text') }}</a></li>
                <li><a href="{{ _('link4_url') }}" target="_blank">{{ _('link4_text') }}</a></li>
            </ul>
        </div>


        <!-- Comforting Message -->
        <div class="mt-5 text-center highlight-message">
            <p>
                {{ _('Remember, every end is a new beginning. Together, we can embrace this change and look forward to new opportunities. Stay strong!')}}
            </p>
        </div>
    </div>

</body>

</html>